* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

/*body*/
/*header*/
/*nav*/

#main {
  background-image: url(../img/background.png);
}

body {
  background-color: #cccccc;
  background: no-repeat right top fixed scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 170vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav a {
  color: black;
}

.hamsterimg {
  width: 7vh;
}

.welcomeimg {
  width: 18vh;
  padding: 0 15px 0 15px;
}

.navtittle {
  margin-left: 20px;
}

.navtittle:hover {
  color: black;
}

/*menu dropdown*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 2vh;
  border: none;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 20vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  left: auto;
  z-index: 1;
  font-size: 2.3vh;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #363636;
  text-decoration: none;
  color: whitesmoke;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

/*menu dropdown end*/
/*header ends*/
/*nav ends*/
/*main*/

main h2 {
  padding: 5vh 30px 5vh 0;
  text-align: center;
  color: whitesmoke;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 0px 30px;
}

main a img {
  border-radius: 10px;
  width: 90%;
  max-width: 55vh;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

main a img:hover {
  transform: scale(1.1);
  transition: 0.25s;
  width: 100%;
}

main a p {
  margin-top: 10px;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

main div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}

/*main ends*/
/*table*/

.divtable {
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.divtable div {
  overflow: auto;
  display: flex;
  height: 100%;
  max-width: 90%;
  min-width: 700px;
}

.headertable {
  background-color: #f7956a;
  color: whitesmoke;
  text-align: center;
  font-size: 2.6vh;
}

.tables {
  display: block;
  height: 100vh;
}

tbody {
  background-color: whitesmoke;
  font-size: 2.5vh;
}

.tdposts {
  text-align: center;
}

.tdalbums {
  text-align: center;
}

.tdtodos {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-corner {
  background-color: #f7956a;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*media*/

@media (max-width: 600px) {
  .divtable {
    justify-content: unset;
  }
}

/*media ends*/
/*table ends*/
/*footer*/

footer {
  background-color: #f7f2d4;
  bottom: 0;
  width: 100%;
  position: relative;
}

/*footer ends*/
/*body ends*/

/*media*/
@media (min-width: 600px) {
  body {
    height: 100vh;
  }

  .navtittle {
    padding: 0 40px 0 50px;
  }

  main {
    padding: 0;
  }

  main div {
    flex-flow: row wrap;
  }

  main a img {
    width: 95%;
  }

  .divtable {
    margin-top: 1rem;
  }

  .tables {
    margin-top: 0.5rem;
  }
}
/*media ends*/
